<%= form_with(model: @profile, url: profile_path) do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='file-box'>
      <%= form.file_field :avatar, id: :profile_avatar, class: 'file-field' %>
      </div>

      <%= form.text_field :username, id: :profile_username, placeholder: 'Username', class: 'input-field' %>
      <%= form.text_field :name, id: :profile_name, placeholder: 'Name', class: 'input-field' %>
      <%= form.text_area :bio, id: :profile_bio, placeholder: 'Bio', class: 'input-field' %>

      <%= form.submit class: "btn btn-primary btn-larger mt-2" %>
<% end %>
