<div class="container-fluid">
<%# banner %>
  <div class="row banner">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="d-flex justify-content-around">
        <a href="/photos" class="profile-count text-center">
          <%= pluralize(@profile.user.photos.count, 'photo') %>
        </a>
        <a href="/followers" class="profile-count text-center">
          <%= pluralize(@profile.user.followers.count, 'follower') %>
        </a>
        <a href="/following" class="profile-count text-center">
          <%= pluralize(@profile.user.following.count, 'following', plural: 'following') %>
        </a>
      </div>
    </div>
    <div class="col-md-3 button">
      <%# Edit or follow button %>
      <% if @profile.user == current_user %>
        <%= link_to 'Edit profile', edit_profile_path(@profile), class: 'btn btn-edit' %> 
      <% else %>
        <%= form_with(model: @profile.user, method: :patch) do |f| %>
          <%= f.hidden_field :toggle_follow, value: true %>
          <%= f.button @profile.user.followed_by?(current_user) ? 'Unfollow' : 'Follow',
            class: 'btn btn-follow btn-edit' %>
        <% end %>
      <% end %>
    </div>
  </div> <%# end banner %>
<%# profile and data %>
  <div class="main">
    <div class="row">
      <div class="col-md-2 details">
        <p class="name"><%= @profile.name %></p>
        <p class="username"><%= @profile.username %></p>
        <p class="bio"><%= @profile.bio %></p>
        <p><a href="#">Melbourne, Victoria</a></p>
        <p><a href="#"><%= @profile.user.email %><a></p>
        <p class="joined">Member since <%= @profile.created_at.strftime("%b-%Y") %></p>
      </div>
      <%# gallery %>
      
      <div class="col-md-8">
        <nav class="main-nav">
          <a href="#">Gallery</a>
          <a href="#">Tweets</a>
          <a href="#">Tweets &amp; Replies</a>
          <a href="#">Media</a>
        </nav>
        <div class="container-fluid text-center gallery">
          <div class="row pics">  
            <% @profile.user.photos.each do |photo| %>
              <div class="col-md-4">
                <figure class="figure">
                  <%= image_tag photo.image.url, class: 'img-thumbnail img-fluid' %>
                  <%# like button %>
                </figure>
                <% if @profile.user != current_user %>
                  <div>
                    <%= form_with(model: photo, local:true) do |f| %>
                      <% liked = photo.liked_by?(current_user) %>
                      <%= f.hidden_field :liked, value: liked %>
                      <%= f.button liked ? 'Unlike' : 'Like', class: 'btn btn-primary' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if @profile.user == current_user %>
              <%= link_to 'Upload photo', new_photo_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div> <%# end row %>
  </div> <%# end main %>
</div>


