<% if current_user %>
  <div class="top-bar">
    <nav class="top-nav">
      <ul>
        <li><a href="/feed"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-bolt"></i> Moments</a></li>
        <li><a href="#"><i class="fa fa-bell-o"></i> Notifications</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> Messages</a></li>
      </ul> 
    </nav>
    <span class="icon"></span>
    <div class="right-nav">
      <input type="search" placeholder="Search Instarails">
      <% if @profile && @profile.avatar %>
        <%# Dropdown Toggler %>
        <button type='button' class='user-menu'><%= image_tag @profile.avatar.url, class: "avatar-icon"  %></button>       
        <%# Dropdown Menu %>
        <ul class='user-menu-dropdown'>
          <p class='name'><%= @profile.name %></p>
          <p class='username'><%= @profile.username %></p>
          <hr />
          <li><a href="/profile"><i class='fa fa-user-o'></i>Profile</a></li>
          <li><a href="#"><i class='fa fa-file-text-o'></i>List</a></li>
          <li><a href="#"><i class='fa fa-bolt'></i>Moments</a></li>
          <hr />
          <li><a href="#"><i class='fa fa-external-link'></i>Twitter Ads</a></li>
          <li><a href="#"><i class='fa fa-bar-chart'></i>Analitycs</a></li>
          <hr />
          <li><a href="#">Settings and Privacy</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Keyboard shortcuts</a></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <hr />
          <li><a href="#">Night mode<i class='fa fa-moon-o'></i></a></li>
        </ul>
      <a href="#" class="btn btn-primary btn-smaller" >Tweet</a>
      <% end %>
    </div>
  </div>
  <%# header and avatar %>
  <% if @profile && !current_page?(feed_path) %>
    <header class="header">
      <% if @profile.avatar %>
        <%= image_tag @profile.avatar.url, class: "avatar" %>
      <% else %>
        <%= image_tag("empty-avatar.jpg", class: "avatar") %>
      <% end %>
    </header>
  <% end %>
<% end %>